<admin-card>
  <div class="page-header">
    <h2>Orders Management</h2>

    <div class="actions">
      <input type="text" placeholder="Search order ID..." [(ngModel)]="searchTerm" />

      <select [(ngModel)]="statusFilter">
        <option value="">All Status</option>
        <option value="PLACED">Placed</option>
        <option value="SHIPPED">Shipped</option>
        <option value="DELIVERED">Delivered</option>
        <option value="CANCELLED">Cancelled</option>
      </select>
    </div>
  </div>

  <table class="admin-table">
    <thead>
    <tr>
      <th>Order ID</th>
      <th>User</th>
      <th>Total</th>
      <th>Status</th>
      <th>Date</th>
      <th style="width:160px;">Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let order of filteredOrders()">
      <td>#{{ order.id }}</td>
      <td>{{ order.userEmail }}</td>
      <td>${{ order.total }}</td>
      <td>
          <span class="status" [class]="order.status.toLowerCase()">
            {{ order.status }}
          </span>
      </td>
      <td>{{ order.createdAt | date:'short' }}</td>
      <td>
        <button class="btn-primary" [routerLink]="['/admin/orders', order.id]">View</button>
        <button class="btn-danger" *ngIf="order.status !== 'CANCELLED'" (click)="cancelOrder(order.id)">
          Cancel
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</admin-card>
