<section class="contact-section">
  <div class="container hero-content">
    <div class="hero-text">
      <h2>Login</h2>
      <p>Please enter your email and password to log into your account.</p>

      <form class="contact-form" (ngSubmit)="login()">
        <input [(ngModel)]="credentials.email" name="email" type="email" placeholder="Email" required />
        <input [(ngModel)]="credentials.password" name="password" type="password" placeholder="Password" required />

        <button type="submit">Login</button>
        <p *ngIf="error" style="color:red; margin-top: 1rem;">{{ error }}</p>
      </form>

      <div class="signup-prompt">
        <p>Don't have an account?
          <a routerLink="/signup" class="signup-link">Sign up here</a>
        </p>
      </div>
    </div>
  </div>
</section>
