.admin-container {
  display: flex;
}

.admin-main {
  margin-left: 250px;   /* same as sidebar width */
  flex: 1;
  min-height: 100vh;
  background: var(--brand-light);
  display: flex;
  flex-direction: column;
}
